Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on


#controladores
RewriteRule ^auth?$ app/authController.php
RewriteRule ^products/controller$ app/productController.php
RewriteRule ^products/edit/controller$ app/productController.php

#páginas
RewriteRule ^login?$ index.php

RewriteRule ^home/?$ views/home.php

RewriteRule ^products/?$ views/products/index.php
RewriteRule ^products/create/?$ views/products/create.php
RewriteRule ^products/edit/([^/]+)/?$ views/products/edit.php?slug=$1
RewriteRule ^products/([^/]+)/?$ views/products/details.php?slug=$1

RewriteRule ^users/?$ views/users/users.php
RewriteRule ^users/list_users/([^/]+)?$ views/users/list_users.php
RewriteRule ^users/edit_users/([^/]+)?$ views/users/edit_users.php
RewriteRule ^users/details_users/([^/]+)?$ views/users/details_users.php

RewriteRule ^clients/?$ views/clients/clientes.php
RewriteRule clients/detail/?$ views/clients/clientDetail.php

RewriteRule ^orders/?$ views/orders/index.php
RewriteRule ^orders/create/?$ views/orders/create.php
RewriteRule ^orders/update/?$ views/orders/update.php
RewriteRule ^orders/([^/]+)/?$ views/orders/details.php?id=$1

